
#settings{
    background-color:var(--main-bg-color);
    display: none;
}

#settingsAccount {
    height: 40%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.15);
}

#settingsNotifs {
    height: 40%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.15);
}

#settings h2 {
    height: auto;
    font-size: 6vw;
<<<<<<< HEAD
    padding: 1.25vh;
    box-shadow: 0 10px 13px rgba(0,0,0,0.15);
    text-align: center;
    background-color: var(--other-color);
    color: white;
=======
    box-shadow: 0 3px rgba(0,0,0,0.15);
    text-align: center;
    background-color: var(--other-color);
    color: white;
    padding: 2vh 3vw 0 3vw;
>>>>>>> ad74fb19b2b0c4ada55360a392e99ab1f66a0415
}

#settings h4 {
    height: auto;
    font-size: 3vw;
    padding: 0.2vh 3vw;
}
#logoutBtn{
    background-color: var(--other-color);
    border-radius: 1vw;
    margin-top: 5vw;
    height: 7vh;
    text-align: center;
    font-size: 5vw;
    color: white;
    float: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.choice{
    position: relative;
    height: 15%;
    width: 94%;
    padding: 2vw 3vw 1vw 3vw;
    margin-top: 1vw;
    box-shadow: 0 3px rgba(0,0,0,0.15);
}
.choiceText{
    font-size: 5vw;
    width: 90%;
    height: 100%;
    padding-top: 2%;
}
<<<<<<< HEAD

.switch {
  position: absolute;
    width: 10vw;
    height: 4vh;
    right: 5vw;
    top: 2.5vw;
    display: inline-block;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .sliderRound:before {
    position: absolute;
    content: "";
    background-color: var(--main-bg-color);
    height: 80%;
    width: 60%;
    top: 10%;
    border-radius: 50%;
    transition: .4s;
  }
  input:checked + .sliderRound {
    background-color: black;
  }
  input:checked + .sliderRound:before {
    transform: translateX(4vw);
  }
  .sliderRound {
    border-radius: 25%;
    width: 8vw;
    height: 6vw;
    position: absolute;
    left: 0vw;
    background-color: var(--other-color);
  }

  .changeInput{
    width: 70%;
    height: 5vh;
    padding: 1vw;
    position: absolute;
  }
=======
>>>>>>> ad74fb19b2b0c4ada55360a392e99ab1f66a0415
