*{
    margin:0;
    padding:0;
    border: none;
}
body{
    margin: 0vw;
    background-color: lightgray;
    padding-top: 0vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

#header{
    height: 7%;
}

#header h1{
    height: auto;
    display: inline-block;
    padding: 1vh 2vw;
    font-size: 4vw;
}

.tab{
    height:100%;
    width:33vw;
    display: inline-block;
}

#homeTab{
    background-color: red;
}

#calendarTab{
    background-color: yellow;

}

#settingsTab{
    background-color: green;
}

.workspace{
    width:100vw;
    padding:0.1em;
}

#home{
    height:93%;
    background-color: red;
    display: block;
}

#calendar{
    height:93%;

    background-color: yellow;
    display: none;
}

#settings{
    height:93%;

    background-color: green;
    display: none;
}