*{
    --main-bg-color:#ffb4b2;
    --side-bg-color: #fffefd;
    --other-color: #928686;
}
body{
    margin: 0vw;
    background: linear-gradient(180deg, var(--main-bg-color), #ffe4c9);
    padding-top: 0vw;
    height: 92vh;
}
h1{
    margin: 0vw;
}
#boxOne{
    position: absolute;
    top: 0px;
    border-top: 100% solid transparent;
    width: 0;
    height: 0;
    border-top: 90vw solid var(--side-bg-color);
    border-right: 100vw solid transparent;
    z-index: -1;
}
#boxTwo{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    border-bottom: 65vw solid var(--side-bg-color);
    border-right: 100vw solid transparent;
}

#login{
    background-color: var(--other-color);
    padding: 0vw;
    margin-top: 35vw;
    height: 60vw;
    border-radius: 3vw;
    padding: 5vw;
    margin-left: 8vw;
    margin-right: 8vw;
}
#title{
    color: black;
    font-size: 13vw;
    text-align: center;
    margin-top: 10vw;
    font-family: 'Roboto', sans-serif;
}
#loginName{
    text-align: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1vw;
}
#SubmitBtn{
    color: var(--main-bg-color);
    font-size: 5.5vw;
    border-radius: 2vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 15vw;
    top: 115vw;
    height: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: none;
    background-color: var(--side-bg-color);
}
.InputBoxes{
    margin-right: 5vw;
    font-size: 5.5vw;
    padding: 0vw;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-bottom: 6vw;
    height: 6vh;
    border-radius: 1.5vw;
    margin-top: 3.7vw;
    margin-left: 2vw;
    padding-left: 2vw;
    border: none;
}

form{
    position: absolute;
    margin-top: 0vw;
    width: 75%;
    font-family: 'Roboto', sans-serif;
}

#links{
    font-size: 3vw;
    position: absolute;
    margin-left: 3vw;
    margin-top: 45%;
    color: black;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}