body{
    margin: 0vw;
    background-color: rgb(104,100,100);
    padding-top: 0vw;
}
h1{
    margin: 0vw;
}
#boxOne{
    position: absolute;
    top: 0px;
    border-top: 100% solid transparent;
    width: 0;
    height: 0;
    border-top: 90vw solid rgb(205,199,185);
    border-right: 100vw solid transparent;
    z-index: -1;
}
#boxTwo{
    position: absolute;
    bottom: 0px;
    z-index: -1;
    border-bottom: 65vw solid rgb(205,199,185);
    border-right: 100vw solid transparent;
}

#login{
    background-color: rgb(247,246,242);
    padding: 0vw;
    margin-top: 25vw;
    height: 85vw;
    border-radius: 3vw;
    padding: 5vw;
    margin-left: 8vw;
    margin-right: 8vw;
}
#title{
    color: black;
    font-size: 13vw;
    text-align: center;
    margin-top: 10vw;
    font-family: 'Roboto', sans-serif;
}
#loginName{
    text-align: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1vw;
}
#SubmitBtn{
    color: rgb(247,246,242);
    font-size: 5.5vw;
    border-radius: 2vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 15vw;
    top: 130vw;
    height: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: none;
    background-color: rgb(104,100,100);
}
.InputBoxes{
    margin-right: 5vw;
    font-size: 5.5vw;
    padding: 0vw;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-bottom: 5vw;
    height: 6vh;
    border-radius: 1.5vw;
    margin-top: 3.7vw;
    margin-left: 2vw;
    padding-left: 2vw;
    border: none;
}

form{
    position: absolute;
    margin-top: 0vw;
    width: 75%;
    font-family: 'Roboto', sans-serif;
}